.header {
    padding: 33px 0;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #fff;
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      @include logo;
      span {
        color: #fff;
      }
    }
    &__menu {
      display: flex;
      column-gap: 20px;
      li {
        list-style: none;
        a {
          @include font-style(400,13px,16px ,#fff );
          font-family: $fontMonserrat;
          text-decoration: none;
        }
      }
    }
    &__contact {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      a {
        font-family: $fontRoboto;
        @include font-style(400,12px ,14px ,#fff );
        text-align: right;
        text-decoration: none;
      }
    }
  }

.mobie-btn{
  display: none;
}
