@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .projects__text {
        left: 110px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .col-4 {
        width: 50%;
    }

    .row {
        justify-content: center;
    }

    .news {
        margin-top: 50px;
    }

    .banner {
        height: 580px;
    }

    .header__menu {
        opacity: 0;
        position: absolute;
        z-index: -5;
        right: -330px;
        top: 0;
        transition: .5s;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .header__nav {
        position: relative;
    }

    .mobile-btn {
        width: 55px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -220px;
        top: -22px;
    }

    .mobile-btn span {
        height: 3px;
        width: 100%;
        background-color: white;
        position: relative;
    }

    .mobile-btn span::before,
    .mobile-btn span::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
    }

    .mobile-btn span::before {
        top: -10px;
    }

    .mobile-btn span::after {
        top: 10px;
    }

    .show-menu {
        position: absolute;
        opacity: 1;
        right: -330px;
        top: 32px;
        transition: .5s;
        z-index: 0;
    }

    .projects__img {
        width: 100%;
    }

    .projects__text {
        left: 10px;
        margin-top: 45px;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .mobile-btn {
        right: -132px;
    }

    .header__menu {
        right: -243px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 390px;
    }

    .col-6 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .mobile-btn {
        right: -32px;
    }

    .header__menu {
        right: -84px;
    }

    .banner {
        height: 224px;
    }

    .projects__text {
        position: static;
        width: 270px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .copyright {
        padding: 0 5px;
    }
}


@media screen and (max-width: 425px) {
    .container {
        max-width: 290px;
    }

    .header__logo {
        font-size: 26px;
        line-height: 32px;
    }

    .header {
        padding: 5px 0;
    }

    .banner {
        height: 205px;
    }

    h2 {
        font-size: 25px!important;
        line-height: 30px!important;
    }
    .projects{
        padding: 40px 0;
    }
    .news__btn{
        padding: 10px 20px;
        font-size: 11px;
        line-height: 13px;
    }
    footer .footer__links li a,
    footer .copyright {
        font-size: 12px;
        line-height: 14px;
    }
}
